<!-- Page Heading -->
<script src="/vendor/jquery/jquery.min.js"></script>

<h1 class="h3 mb-2 text-gray-800">Machine Data</h1>
<p class="mb-4"></p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <label style="float: left; color: black; font-weight: bold;">Time:</label>
        <div id="dropdown-date" class="dropdown" style="float: left; margin-left: 8px;">
            <button id="timeFilter" class="dropdown-toggle" type="button" data-toggle="dropdown">
                Time Period:
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
                <div class="container-fluid">
                    <div class="row">
                        <ul style="list-style-type:none; margin: 0px; padding: 0px;">
                            <li>
                                <a onclick="fitlerByDateHelper(0)" href="#">Today</a>
                            </li>
                            <li>
                                <a onclick="fitlerByDateHelper(1)" href="#">Yesterday</a>
                            </li>
                            <li>
                                <a onclick="fitlerByDateHelper(2)" href="#">This Week</a>
                            </li>
                            <li>
                                <a onclick="fitlerByDateHelper(3)" href="#">Last 7 Days</a>
                            </li>
                            <li>
                                <a onclick="fitlerByDateHelper(4)" href="#">This Month</a>
                            </li>
                            <li>
                                <a onclick="fitlerByDateHelper(5)" href="#">Lifetime</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div id="fromDatePicker">
                        </div>
                    </div>
                    <div class="row">
                        <div id="toDatePicker">
                        </div>
                    </div>
                </div>

                <button onclick="filterByDate()" style="float: right; margin-right: 20px; margin-top: 10px">Done</button>
            </div>
        </div>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Batches</h6>
    </div>

    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" id="example" width="100%" cellspacing="0">
            </table>
        </div>
    </div>
</div>

<script>
    var t;
    var machineObj = {{{ json machineObj }}}
    var tableColumns = [
    {
        title: "Batch ID"
    },
    {
        title: "Production Count"
    },
    {
        title: "Start Date"
    },
    {
        title: "End Date"
    },
    ];

    $(document).ready(function () {
        console.log("Machine Obj", machineObj);
        var fromDate = new Date();
        fromDate.setDate(fromDate.getDate() - 10);
        getBatchs(fromDate, new Date());

        $(document).on('click', '#dropdown-date', function (e) {
            e.stopPropagation();
        });

        $(document).on('click', '.ui-datepicker-next', function (e) {
            e.stopPropagation();
        });

        $(document).on('click', '.ui-datepicker-prev', function (e) {
            e.stopPropagation();
        });

        $(function () {
            $("#fromDatePicker").datepicker();
            $("#toDatePicker").datepicker();
        });
    });

    function filterByDate() {
        $('#timeFilter').dropdown('toggle');
        var fromDate = new Date($("#fromDatePicker").val());
        var toDate = new Date($("#toDatePicker").val());

        getBatchs(fromDate, toDate);
    }

    function getMonday(d) {
        d = new Date(d);
        var day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? -6 : 1); // adjust when day is sunday
        return new Date(d.setDate(diff));
    }

    function fitlerByDateHelper(value) {
        $('#timeFilter').dropdown('toggle');
        var selectValue = parseInt(value);
        var fromdate, toDate;
        switch (selectValue) {
            case 0:
                fromDate = new Date();
                toDate = new Date();
                break;
            case 1:
                fromDate = new Date();
                toDate = new Date();
                fromDate.setDate(fromDate.getDate() - 1);
                toDate.setDate(toDate.getDate() - 1);
                break;
            case 2:
                fromDate = new Date();
                toDate = new Date();
                fromDate = getMonday(fromDate);
                break;
            case 3:
                fromDate = new Date();
                toDate = new Date();
                fromDate.setDate(fromDate.getDate() - 7);
                break;
            case 4:
                fromDate = new Date();
                toDate = new Date();
                fromDate.setDate(1);
                break;
            case 5:
                fromDate = new Date("January 1, 2018");
                toDate = new Date();
                break;
        }

        getBatchs(fromDate, toDate);
    }

    function getBatchs(fromDate, toDate) {
        document.getElementById("timeFilter").innerHTML = fromDate.toDateString() + " - " + toDate.toDateString();
        $.post("/getBatches", { fromDate: fromDate.toDateString(), toDate: toDate.toDateString(), id: machineObj._id})
            .done(function (data) {
                if (t) {
                    t.clear().destroy();
                    $('#example').empty();
                }
                console.log("data", data);
                var tableList = [];
                for (var i = 0; i < data.length; i++) {
                    var batchID = "Undefined";
                    if(data[i].id != "") batchID = data[i].id;
                    tableList.push(["<a href='/machine/" + machineObj._id + "/" + data[i]._id + "'> " + batchID + "</a>", data[i].productionCount, new Date(data[i].Time.StartTime).toLocaleString(), new Date(data[i].Time.EndTime).toLocaleString()]);
                }

                t = $('#example').DataTable({
                    data: tableList,
                    columns: tableColumns,
                    pageLength: 20,
                });
            });
    }
</script>